@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* From video tutorial color  */

    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* From video tutorial color  */

    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border box-border p-0 m-0 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* Start of APP.css */

  .app {
    @apply bg-[var(--primary-color)];
  }

  .app__whitebg {
    @apply bg-[var(--white-color)];
  }

  .app__primarybg {
    @apply bg-[var(--primary-color)];
  }

  .app__container {
    @apply w-full min-h-screen flex flex-row;
  }

  .app__flex {
    @apply flex justify-center items-center;
  }

  .app__wrapper {
    @apply pt-16 px-4 pb-8 md:py-16 md:px-8 flex flex-1 w-full flex-col;
  }

  .copyright {
    @apply w-full md:pt-8 md:px-0 md:pb-0 sm:p-8 flex flex-col justify-end items-end;
  }

  .copyright p {
    @apply uppercase text-[var(--black-color)];
  }

  .head-text {
    @apply md:text-4xl text-3xl font-extrabold text-center text-[var(--black-color)] capitalize;
  }

  .head-text span {
    @apply text-[#313bac];
  }

  .p-text {
    @apply text-[0.8rem] text-left text-[var(--gray-color)] leading-6 2xl:text-2xl;
  }

  .bold-text {
    @apply text-sm md:text-base font-extrabold text-[var(--black-color)] 2xl:text-3xl;
  }

  .app__social {
    @apply md:flex hidden justify-end items-center flex-col p-4;
  }

  .app__social div {
    @apply w-10 h-10 rounded-full bg-[var(--white-color)] my-1 mx-0 flex justify-center items-center transition-all ease-in-out hover:bg-[var(--secondary-color)] hover:border-[var(--secondary-color)];
  }

  .app__social div:hover svg {
    @apply text-[var(--white-color)];
  }

  .app__social div svg {
    @apply w-4 h-4 text-[var(--gray-color)]  hover:text-[var(--white-color)]  2xl:h-7 2xl:w-7;
  }

  .app__navigation {
    @apply md:flex md:gap-6 hidden justify-center items-center flex-col p-4;
  }
  .app__navigation-dot {
    @apply w-2 h-2 rounded-full bg-[#cbcbcb] transition-colors hover:bg-[var(--secondary-color)] flex gap-4;
  }

  /* End of APP.css */

  /* Start of Navbar.css */

  .app__navbar {
    @apply w-full flex justify-between items-center py-4 px-8 bg-[#ffffff40] backdrop-blur-sm border border-[#ffffff2e] fixed z-[2];
  }

  .app__navbar-logo {
    @apply flex justify-start items-center;
  }

  .app__navbar-logo img {
    @apply w-20 h-5 2xl:w-44 2xl:h-5;
  }

  .app__navbar-links {
    @apply hidden md:flex flex-1 justify-center items-center list-none list-image-none;
  }

  .app__navbar-links li {
    @apply my-0 mx-4 cursor-pointer flex-col hover:underline hover:bg-accent hover:text-accent-foreground;
  }

  .app__navbar-links button {
    @apply my-0 mx-4 cursor-pointer;
  }

  .app__navbar-links li div {
    @apply w-1 h-1 bg-transparent rounded-full mb-1;
  }

  .app__navbar-links li a {
    @apply text-[var(--gray-color)] no-underline flex-col uppercase font-medium transition-all ease-in-out;
  }

  .app__navbar-menu {
    @apply flex md:hidden w-9 h-9 rounded-full relative justify-center items-center bg-[var(--secondary-color)];
  }

  .app__navbar-menu svg {
    @apply w-[70%] h-[70%] text-[var(--white-color)];
  }

  .app__navbar-menu div {
    @apply flex fixed top-0 bottom-0 right-0 z-[5] p-4 w-4/5 h-screen md:hidden justify-center items-end flex-col bg-[var(--white-color)] bg-cover bg-repeat bg-[url('/assets/bgWhite.png')] shadow-[0_0_20px_rgba(168,168,168,0.15)];
  }

  .app__navbar-menu div svg {
    @apply w-9 h-9 text-[var(--secondary-color)] my-2 mx-4 justify-end;
  }

  .app__navbar-menu div ul {
    @apply list-none m-0 p-0 h-full w-full flex justify-start items-start flex-col rounded-full;
  }

  .app__navbar-menu div ul li {
    @apply m-4;
  }

  .app__navbar-menu div ul li a {
    @apply text-[var(--gray-color)] no-underline text-base uppercase font-medium transition-all ease-in-out hover:text-[var(--secondary-color)];
  }

  /* End of Navbar.css */

  /* Start of About.css */

  .app__about {
    @apply flex-1 w-full flex flex-col h-full justify-center items-center;
  }

  .app__profiles {
    @apply flex justify-center items-center flex-wrap mt-8;
  }

  .app__profile-item {
    @apply w-[190px] flex justify-start items-start flex-col m-8 2xl:w-[370px] 2xl:my-8 2xl:mx-16;
  }

  .app__profile-item img {
    @apply w-full h-[170px] rounded-2xl object-cover 2xl:h-[320px];
  }

  /* End of About.css */

  /* Start of Header.css */

  #home {
    @apply relative bg-cover bg-center bg-repeat bg-[url('/assets/bgIMG.png')];
  }

  #home .app__wrapper {
    @apply p-0;
  }

  #home .app__wrapper .copyright {
    @apply hidden;
  }

  .app__header {
    @apply pt-24 px-4 pb-8 flex flex-col lg:flex-row lg:px-8 md:pb-0  h-full w-full flex-1;
  }

  .app__header-info {
    @apply w-full lg:w-auto mr-0 md:my-0 mx-8 h-full items-start justify-start flex-col flex flex-[0.65];
  }

  .app__header-badge {
    @apply justify-start items-start lg:justify-end lg:items-end flex-col flex w-full;
  }

  .app__header-badge span {
    @apply text-4xl 2xl:text-7xl;
  }

  .app__header-badge .badge-cmp,
  .app__header-badge .tag-cmp {
    @apply py-4 px-8 bg-[var(--white-color)] rounded-2xl flex-row flex w-auto shadow-[0_0_20px_rgba(0,0,0,0.1)];
  }

  .app__header-badge .tag-cmp {
    @apply flex flex-col mt-12;
  }

  .app__header-badge .tag-cmp p {
    @apply w-full uppercase text-right;
  }

  .app__header-circles {
    @apply w-full flex flex-row flex-wrap ml-0 lg:flex-col lg:flex-nowrap lg:w-auto lg:ml-4 justify-evenly flex-[0.75] items-start h-full;
  }

  .app__header-circles div {
    @apply m-4 w-24 h-24 rounded-full bg-[var(--white-color)] shadow-[0_0_20px_rgba(0,0,0,0.1)];
  }

  .app__header-circles div img {
    @apply w-3/5 h-3/5;
  }

  /*  circles with different height & width */

  .app__header-circles div:nth-child(1) {
    @apply w-24 h-24 2xl:w-48 2xl:h-48;
  }

  .app__header-circles div:nth-child(2) {
    @apply w-40 h-40 m-7 2xl:w-96 2xl:h-96;
  }

  .app__header-circles div:nth-child(3) {
    @apply w-16 h-16 2xl:w-40 2xl:h-40;
  }

  .app__header-img {
    @apply flex-1 h-full flex justify-end items-end relative my-8 mx-0 lg:my-0;
  }

  .app__header-img img {
    @apply w-full object-contain z-[1];
  }

  .app__header-img .overlay_circle {
    @apply absolute left-0 right-0 bottom-0 z-0 w-full h-[90%];
  }

  /* End of Header.css */

  /* Start of Skills.css */

  .app__skills {
    @apply flex-1 w-full flex flex-col;
  }

  .app__skills-container {
    @apply w-full flex-col flex lg:flex-row md:w-4/5 mt-12 gap-4;
  }

  .app__skills-list {
    @apply flex mr-0 justify-center items-center lg:justify-start lg:items-start flex-wrap flex-1 md:mr-20 w-auto;
  }

  .app__skills-item {
    @apply flex-col items-center transition-all w-auto ease-in-out m-4;
  }

  .app__skills-item p {
    @apply font-medium mt-2;
  }

  .app__skills-item div {
    @apply w-16 h-16 md:w-24 md:h-24 hover:shadow-[0_0_25px_#fef4f5] 2xl:w-40 2xl:h-40 bg-[#fef4f5] rounded-full;
  }

  .app__skills-item div img {
    @apply h-1/2 w-1/2;
  }

  .app__skills-exp {
    @apply mt-8 md:mt-0 flex flex-1 justify-start items-start flex-col;
  }

  .app__skills-exp-item {
    @apply w-full flex flex-row justify-start items-start my-4 mx-0;
  }

  .app__skills-exp-works {
    @apply flex-1 flex flex-col;
  }

  .app__skills-exp-works .app__skills-exp-work {
    @apply flex flex-col justify-start items-start mb-4 cursor-pointer;
  }

  .app__skills-exp-works .app__skills-exp-work h4 {
    @apply font-medium;
  }

  .app__skills-exp-works .app__skills-exp-work p {
    @apply font-normal text-[var(--gray-color)] mt-1;
  }

  .app__skills-exp-year {
    @apply mr-4 md:mr-12;
  }

  .app__skills-exp-year p {
    @apply font-extrabold text-[var(--secondary-color)];
  }

  .skills-tooltip {
    @apply !max-w-xs !bg-[var(--white-color)] !shadow-[0_0_25px_0_rgba(0,0,0,0.1)] !rounded !text-[var(--gray-color)] !text-center !leading-6 !opacity-100 2xl:!text-2xl 2xl:!max-w-lg 2xl:!leading-8;
  }

  /* End of Skills.css */

  /* Start of Testimonial.css */

  .app__testimonial {
    @apply flex flex-1 w-full flex-col;
  }

  .app__testimonial-item {
    @apply flex flex-col md:w-full lg:w-3/5 min-h-[320px] bg-[var(--white-color)] lg:flex-row p-8 rounded-2xl shadow-[0_0_30px_0_rgba(0,0,0,0.1)] transition-all ease-in-out 2xl:min-h-[450px];
  }

  .app__testimonial-item img {
    @apply w-24 h-24 rounded-full object-cover 2xl:w-36 2xl:h-36;
  }

  .app__testimonial-content {
    @apply mt-8 p-0 md:mt-0 md:py-0 md:px-8 text-left flex flex-1 h-full flex-col justify-around items-start;
  }

  .app__testimonial-content p {
    @apply 2xl:text-3xl 2xl:leading-[3.5rem] text-sm leading-8 text-[var(--black-color)];
  }

  .app__testimonial-content h4 {
    @apply font-semibold text-[var(--secondary-color)] mt-8;
  }

  .app__testimonial-content h5 {
    @apply font-normal text-[var(--gray-color)] mt-1;
  }

  .app__testimonial-btns {
    @apply flex flex-row mt-4;
  }

  .app__testimonial-btns div {
    @apply 2xl:w-24 2xl:h-24 w-12 h-12 rounded-full bg-[var(--white-color)] m-4 transition-all ease-in-out hover:bg-[var(--secondary-color)];
  }

  .app__testimonial-btns div:hover svg {
    @apply text-[var(--white-color)];
  }

  .app__testimonial-btns div svg {
    @apply 2xl:w-11 2xl:h-11 w-5 h-5 text-[var(--secondary-color)];
  }

  .app__testimonial-brands {
    @apply w-full md:w-4/5 flex flex-wrap mt-8;
  }

  .app__testimonial-brands div {
    @apply w-32 m-4 2xl:w-52 2xl:m-8 md:w-36 md:m-6;
  }

  .app__testimonial-brands div img {
    @apply w-full h-auto object-cover grayscale;
  }

  .app__testimonial-brands div:hover img {
    @apply grayscale-0;
  }

  /* End of Testimonial.css */

  /* Start of Work.css */

  .app__works {
    @apply flex flex-1 w-full flex-col;
  }

  .app__work-filter {
    @apply flex flex-row justify-center items-center flex-wrap mt-16 mx-0 mb-8;
  }

  .app__work-filter .item-active {
    @apply bg-[var(--secondary-color)] text-white;
  }

  .app__work-filter .app__work-filter-item {
    @apply 2xl:py-4 2xl:px-8 hover:bg-[var(--secondary-color)] hover:text-white py-2 px-4 bg-white text-black font-extrabold cursor-pointer transition-all ease-in m-2 rounded-lg;
  }

  .app__work-portfolio {
    @apply flex flex-wrap justify-center items-center;
  }

  .app__work-portfolio .app__work-item {
    @apply w-full m-4 2xl:w-[470px] 2xl:p-5 2xl:rounded-xl hover:shadow-[0_0_25px_0_rgba(0,0,0,0.2)] md:w-64 flex flex-col md:m-8 p-4 rounded-lg bg-white text-black cursor-pointer transition-all ease-in;
  }

  .app__work-img {
    @apply 2xl:h-80 h-56 w-full relative;
  }

  .app__work-img img {
    @apply w-full h-full rounded-lg object-cover;
  }

  .app__work-hover {
    @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full bg-[#00000080] rounded-lg opacity-0 transition-all ease-in;
  }

  .app__work-hover div {
    @apply w-12 h-12 rounded-full bg-[#00000080] text-white fill-white m-4 font-extrabold cursor-pointer transition-all ease-in;
  }

  .app__work-hover div svg {
    @apply w-1/2 h-1/2 text-[var(--white-color)];
  }

  .app__work-content {
    @apply p-2 w-full relative flex flex-col;
  }

  .app__work-content h4 {
    @apply 2xl:mt-12 mt-4 leading-6;
  }

  .app__work-content .app__work-tag {
    @apply absolute py-2 px-4 rounded-lg bg-white top-[-25px];
  }

  /* End of Work.css */

  /* Start of Footer.css */

  .app__footer {
    @apply flex flex-col  w-full flex-1;
  }

  .app__footer-cards {
    @apply w-full md:w-3/5 flex justify-evenly items-center flex-wrap mt-[4em] mx-8 mb-8;
  }

  .app__footer-cards .app__footer-card {
    @apply w-full md:w-auto min-w-[290px] flex flex-row justify-start items-center my-4 mx-0 rounded-lg cursor-pointer bg-[#fef4f5] transition ease-in-out hover:shadow-[0_0_25px_#fef4f5];
  }

  .app__footer-cards .app__footer-card img {
    @apply w-10 h-10;
  }

  .app__footer-cards .app__footer-card p {
    @apply font-medium;
  }

  .app__footer-cards .app__footer-card a {
    @apply no-underline font-medium;
  }

  .app__footer-cards .app__footer-card:last-child {
    @apply bg-[#f2f7fb];
  }

  .app__footer-cards .app__footer-card:last-child:hover {
    @apply shadow-[0_0_25px_#f2f7fb];
  }

  .app__footer-form {
    @apply w-full my-4 mx-0 md:w-3/5 flex flex-col md:mx-8;
  }

  .app__footer-form div {
    @apply w-full my-3 mx-0 rounded-lg cursor-pointer bg-[var(--primary-color)] transition-all ease-in-out hover:shadow-[0_0_25px_var(--primary-color)];
  }
  .app__footer-form div input,
  .app__footer-form div textarea {
    @apply w-full p-[0.95rem] border-none rounded-md bg-[var(--primary-color)] text-[var(--secondary-color)] outline-none;
  }

  .app__footer-form div textarea {
    @apply h-40;
  }

  .app__footer-form button {
    @apply py-4 px-8 rounded-lg border-none bg-[var(--secondary-color)] font-medium text-[var(--white-color)] outline-none mt-8 mx-0 mb-0 transition-[0.55_0.085_0.68_0.53] cursor-pointer hover:bg-[#2430af];
  }
  /* End of Footer.css */
}
